<div class="row career-relative-row position-relative bg-gray-lightest">
    <div class="container career-container">
        <div class="career-text-row">
            <div class="col-12 col-lg-6 d-flex align-items-center">
            <div class="row">
                <div class="col-12 col-lg-10">
                <p class="small fw-semibold text-uppercase">{{ subtitle }}</p>
                <h2 class="post-title mt-0 mb-2">{{ title }}</h2>
                <p class="mt-0 mb-1">{{ text }}</p>
                <span class="fw-semibold" style="color:#000;font-size:16px;line-height:20px;font-weight:600">{{ button_text }} &gt;</span>
                </div>
            </div>
            </div>
        </div>
        <div class="career-image-row">
            <div class="col-12 px-0">
            <picture>
                <img src="{{ image }}">
            </picture>
            </div>
        </div>
    </div>
    <a class="stretched-link" aria-label="Link to careers site" href="https://careers.datadoghq.com/" target="_blank"></a>
</div>