<div class="container-fluid">
    <div class="row blog-relative-row position-relative home-blog-bg" data-color="img/blog/state-of-devsecops/state-of-devsecops-2024/hero-final.png">
        <div class="container blog-container">
            <div class="blog-image-row">
                <div class="col-12 px-0" style="height: 100%">
                    <img src="{{ image }}" style="height: 100%">
                </div>
            </div>
            <div class="blog-text-row">
                <div class="col-12 col-lg-5 offset-lg-7 d-flex align-items-center">
                    <div class="row">
                        <div class="col-12" style="color:#fff">
                        <p class="text-uppercase small fw-semibold">{{ subtitle }}</p>
                        <h2 class="post-title mt-0 mb-2">{{ title }}</h2>
                        <p class="mt-0 mb-1">{{ body }}</p>
                        <span class="fw-semibold" style="font-size:16px;line-height:20px;font-weight:600">
                            {{ button_text}} &gt;
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>